<link rel="stylesheet" href="stylesheets/footer.css">
<link rel="stylesheet" href="stylesheets/main.css">
<link rel="stylesheet" type="text/css"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<footer class="u-clearfix u-footer u-grey-80" id="sec-71a4">
    <div>
        <div class="u-social-icons u-spacing-10 u-social-icons-1 MarginRightCustom">
            <div class="containerSC">
                <a class="btnSC btnfc" href="#">
                    <i class="fab fa-facebook-f"></i>
                </a>
                <a class="btnSC btntik" href="#">
                    <i class="fab fa-tiktok"></i>
                </a>
                <a class="btnSC btmins" href="#">
                    <i class="fab fa-instagram"></i>
                </a>
            </div>
            <div class="middle">
                Business Hours:
                <br>
                Mon-Fri: 9am-6pm
                <br>
                Sat: 10am-4pm
                <br>
                Sun: Closed
            </div>
        </div>
        <a class="u-image u-logo u-image-1" data-image-width="824" data-image-height="303">
            <img src="images/Header.png" class="u-logo-image u-logo-image-1">
        </a>
    </div>
</footer>