<link rel="stylesheet" href="stylesheets/footer.css">
<link rel="stylesheet" href="stylesheets/main.css">
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">

<footer class="u-clearfix u-footer u-grey-80" id="sec-71a4"><div class="u-clearfix u-sheet u-sheet-1">
        <div class="data-layout-selected u-clearfix u-expanded-width u-gutter-30 u-layout-wrap u-layout-wrap-1">
          <div class="u-gutter-0 u-layout">
            <div class="u-layout-row">
              <div class="u-align-left u-container-style u-layout-cell u-left-cell u-size-18 u-layout-cell-1">
                <div class="u-container-layout u-valign-top u-container-layout-1"><!--position-->
                  <div data-position="" class="u-position u-position-1"><!--block-->
                    <div class="u-block">
                      <div class="u-block-container u-clearfix"><!--block_header-->
                        <h5 class="u-block-header u-text"><!--block_header_content-->Business Hours:
                            <br>
                            <br>
                            Mon:  9:00 AM - 6:00 PM
                            <br>
                            Tue: 9:00 AM – 6:00 PM
                            <br>
                            Wed: 9:00 AM – 6:00 PM
                            <br>
                            Thu: 9:00 AM – 6:00 PM
                            <br>
                            Fri: 9:00 AM – 6:00 PM
                            <br>
                            Sat: 10:00 AM – 4:00 PM
                            <br>
                            Sun: Closed<!--/block_header_content--></h5><!--/block_header--><!--block_content-->
                        <div class="u-block-content u-text"><!--block_content_content--><!--/block_content_content--></div><!--/block_content-->
                      </div>
                    </div><!--/block-->
                  </div><!--/position-->
                </div>
              </div>
              <div class="u-align-left u-container-style u-layout-cell u-size-42 u-layout-cell-2">
                <div class="u-container-layout u-container-layout-2">
                  <div class="u-expanded u-grey-light-2 u-map">
                    <div class="embed-responsive">
                      <iframe class="embed-responsive-item" src="https://maps.google.com/maps?width=100%25&amp;height=600&amp;hl=en&amp;q=quick%20stop%20auto%20romford+(Quick%20Stop%20Auto)&amp;t=&amp;z=18&amp;ie=UTF8&amp;iwloc=B&amp;output=embed" data-map="JTdCJTIycG9zaXRpb25UeXBlJTIyJTNBJTIybWFwLXBvaW50JTIyJTJDJTIyYWRkcmVzcyUyMiUzQSUyMiUyMiUyQyUyMnpvb20lMjIlM0E5JTJDJTIydHlwZUlkJTIyJTNBJTIyc2F0ZWxsaXRlJTIyJTJDJTIybGFuZyUyMiUzQSUyMiUyMiUyQyUyMmFwaUtleSUyMiUzQSUyMkFJemFTeUNKN01hYmZQWGRuTFlTaWphQ2x2elFCZVhKRmFpbXZTRSUyMiUyQyUyMm1hcmtlcnMlMjIlM0ElNUIlNUQlMkMlMjJlbWJlZCUyMiUzQSUyMiUyMiU3RA=="></iframe>
                    </div>
                  </div><!--position-->
                  <div data-position="" class="u-position u-position-2"><!--block-->
                    <div class="u-block">
                      <div class="u-block-container u-clearfix"></div>
                    </div><!--/block-->
                  </div><!--/position-->
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="u-border-1 u-border-white u-expanded-width u-line u-line-horizontal u-opacity u-opacity-50 u-line-1"></div>
        <div class="u-social-icons u-spacing-10 u-social-icons-1">
          <a class="u-social-url" title="facebook" target="_blank" href=""><span class="u-file-icon u-icon u-social-facebook u-social-icon u-icon-1"><img src="images/216502.png" alt=""></span>
          </a>
          <a class="u-social-url" title="instagram" target="_blank" href=""><span class="u-file-icon u-icon u-social-icon u-social-instagram u-icon-2"><img src="images/216506.png" alt=""></span>
          </a>
          <a class="u-social-url" target="_blank" data-type="Email" title="Email" href=""><span class="u-file-icon u-icon u-social-email u-social-icon u-icon-3"><img src="images/10703211.png" alt=""></span>
          </a>
        </div>
        <a class="u-image u-logo u-image-1" data-image-width="824" data-image-height="303">
          <img src="images/Header.png" class="u-logo-image u-logo-image-1">
        </a>
      </div></footer>
