<div class="contact-container" id="contact">
  <div class="contact-inner-container">

    <div class="contact-info-container">
      <h1 class="contact-heading">Say Hello!</h1>
      <p class="contact-description">
        We're open for any suggestion or just to have a chat.
      </p>
      <div class="line"></div>

      <div class="contact-details">
        <h3><i class="fa fa-map-pin"></i> Address</h3>
        <p>154 High Road, Chadwell Heath, Romford, RM6 6NT, UK</p>
      </div>
      <hr />

      <div class="contact-details">
        <h3><i class="fa fa-envelope"></i> Email</h3>
        <p>Info@quickstopautos.co.uk</p>
      </div>
      <hr />

      <div class="contact-details">
        <h3><i class="fa fa-phone"></i> Lets Talk</h3>
        <p>020 8597 8887</p>
      </div>
      <hr />

      <div class="social-link-container">
        <i class="fa fa-instagram"></i>
        <i class="fa fa-facebook"></i>
        <i class="fa fa-twitter"></i>
        <i class="fa fa-linkedin"></i>
      </div>
    </div>

    <div class="contact-form">
      <form class="form" action="https://formsubmit.co/your@email.com" method="POST">
        <div class="form-group">
          <input type="text" name="name" class="input-field form-input" placeholder="Name" >
        </div>
        <div class="form-group">
          <input type="email" name="email" class="input-field form-input" placeholder="Email" >
        </div>
        <div class="form-group">
          <textarea name="message" rows="5" class="input-field form-input" placeholder="Message"></textarea>
        </div>
        <div class="form-group">
          <input type="submit" class="input-field submit-btn" value="Submit" type="submit" value="Submit">
        </div>
      </form>
    </div>

  </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.6.1/gsap.min.js"></script>
<script src="javascript/contact.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
 <link href="https://fonts.googleapis.com/css?family=Montserrat:500,700,900|Work+Sans:300" rel="stylesheet">
 <link rel="stylesheet" href="stylesheets/contact.css">