<link rel="stylesheet" href="stylesheets/explore.css" />
<script defer src="javascript/carousel.js"></script>
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@48,400,0,0" />

<div class="top">
  <h1 class="exploreTitle">Explore</h1>
  <h2 class="exploreSubTitle">Cruise Through Our Gallery Of Customers</h2>
</div>
<section class="exploreBox">
  <div class="container">
      <div class="slider-wrapper">
        <button id="prev-slide" class="slide-button material-symbols-rounded">
          chevron_left
        </button>
        <ul class="image-list">
          <img class="image-item" src="images/1.JPG" alt="img-1" />
          <img class="image-item" src="images/2.JPG" alt="img-2" />
          <img class="image-item" src="images/3.JPG" alt="img-3" />
          <img class="image-item" src="images/4.JPG" alt="img-4" />
          <img class="image-item" src="images/5.JPG" alt="img-5" />
          <img class="image-item" src="images/6.JPG" alt="img-6" />
          <img class="image-item" src="images/7.JPG" alt="img-7" />
          <img class="image-item" src="images/8.JPG" alt="img-8" />
          <img class="image-item" src="images/9.JPG" alt="img-9" />
        </ul>
        <button id="next-slide" class="slide-button material-symbols-rounded">
          chevron_right
        </button>
      </div>
      <div class="slider-scrollbar">
        <div class="scrollbar-track">
          <div class="scrollbar-thumb"></div>
        </div>
      </div>
    </div>
</section>