<link rel="stylesheet" href="stylesheets/review.css">
<section class="u-align-left u-clearfix u-grey-5 u-section-1" id="carousel_d68b">
    <div class="u-custom-color-1 u-expanded-width u-shape u-shape-rectangle u-shape-1"></div>
    <h1 class="u-text u-text-default-lg u-text-default-md u-text-default-xl u-text-palette-3-base u-text-1 text-pos-adjustment">Our Reviews
    </h1>
    <div class="u-list u-list-1">
        <div class="u-repeater u-repeater-1">
            <div
                    class="u-align-left u-container-style u-list-item u-radius-20 u-repeater-item u-shape-round u-white u-list-item-1">
                <div class="u-container-layout u-similar-container u-container-layout-1">
                    <p class="u-text u-text-default u-text-grey-50 u-text-2">Top class service and very friendly and welcoming
                        people. Fantastic family run business with an abundance of knowledge within the motor engineering and
                        automobile industry. Very happy with the service and upgrades on my vehicle. Run by a very bright
                        individual. All the best!<br>
                    </p>
      s              <div class="u-clearfix u-group-elements u-group-elements-1">
                        <img class="u-image u-image-contain u-image-round u-preserve-proportions u-radius u-image-1"
                             src="images/9.png" alt="" data-image-width="5000" data-image-height="5000">
                        <img class="u-image u-image-contain u-image-round u-preserve-proportions u-radius u-image-2"
                             src="images/9.png" alt="" data-image-width="5000" data-image-height="5000">
                        <img class="u-image u-image-contain u-image-round u-preserve-proportions u-radius u-image-3"
                             src="images/9.png" alt="" data-image-width="5000" data-image-height="5000">
                        <img class="u-image u-image-contain u-image-round u-preserve-proportions u-radius u-image-4"
                             src="images/9.png" alt="" data-image-width="5000" data-image-height="5000">
                        <img class="u-image u-image-contain u-image-round u-preserve-proportions u-radius u-image-5"
                             src="images/9.png" alt="" data-image-width="5000" data-image-height="5000">
                    </div>
                    <h5 class="u-text u-text-grey-50 u-text-3">Adnan U</h5>
                </div>
            </div>
            <div class="u-align-left u-container-style u-list-item u-radius-20 u-repeater-item u-shape-round u-white">
                <div class="u-container-layout u-similar-container u-container-layout-2">
                    <p class="u-text u-text-default u-text-grey-50 u-text-4"> I phoned this up to get advice for waxoul
                        underseal on my car, pre m.o.t check, service and m.o.t. Was brilliant on phone and so helpful. My car is
                        due march, so I will be taking my cat to them to get all this done as they seem down to earth and genuine.
                        Ford ka 1.3<br>
                        <br>
                    </p>
                    <div class="u-clearfix u-group-elements u-group-elements-2">
                        <img class="u-image u-image-contain u-image-round u-preserve-proportions u-radius u-image-6"
                             src="images/9.png" alt="" data-image-width="5000" data-image-height="5000">
                        <img class="u-image u-image-contain u-image-round u-preserve-proportions u-radius u-image-7"
                             src="images/9.png" alt="" data-image-width="5000" data-image-height="5000">
                        <img class="u-image u-image-contain u-image-round u-preserve-proportions u-radius u-image-8"
                             src="images/9.png" alt="" data-image-width="5000" data-image-height="5000">
                        <img class="u-image u-image-contain u-image-round u-preserve-proportions u-radius u-image-9"
                             src="images/9.png" alt="" data-image-width="5000" data-image-height="5000">
                        <img class="u-image u-image-contain u-image-round u-preserve-proportions u-radius u-image-10"
                             src="images/9.png" alt="" data-image-width="5000" data-image-height="5000">
                    </div>
                    <h5 class="u-text u-text-grey-50 u-text-5">Benjamin A</h5>
                </div>
            </div>
            <div class="u-align-left u-container-style u-list-item u-radius-20 u-repeater-item u-shape-round u-white">
                <div class="u-container-layout u-similar-container u-container-layout-3">
                    <p class="u-text u-text-default u-text-grey-50 u-text-6"> Good honest garage had MOT done here today, my car
                        needed some repairs to pass the mot the team was quick and efficient and showed me what needed to be done.
                        My car was repaired and MOT done within 1hr 30min Will be booking in for a service soon. Also they fitted
                        me in on the day. Thanks guy's</p>
                    <div class="u-clearfix u-group-elements u-group-elements-3">
                        <img class="u-image u-image-contain u-image-round u-preserve-proportions u-radius u-image-11"
                             src="images/9.png" alt="" data-image-width="5000" data-image-height="5000">
                        <img class="u-image u-image-contain u-image-round u-preserve-proportions u-radius u-image-12"
                             src="images/9.png" alt="" data-image-width="5000" data-image-height="5000">
                        <img class="u-image u-image-contain u-image-round u-preserve-proportions u-radius u-image-13"
                             src="images/9.png" alt="" data-image-width="5000" data-image-height="5000">
                        <img class="u-image u-image-contain u-image-round u-preserve-proportions u-radius u-image-14"
                             src="images/9.png" alt="" data-image-width="5000" data-image-height="5000">
                        <img class="u-image u-image-contain u-image-round u-preserve-proportions u-radius u-image-15"
                             src="images/9.png" alt="" data-image-width="5000" data-image-height="5000">
                    </div>
                    <h5 class="u-text u-text-grey-50 u-text-7">Kerry U</h5>
                </div>
            </div>
        </div>
    </div>
    <a href="https://www.google.com/search?q=quick+stop+autos&rlz=1C5MACD_enGB1039GB1039&oq=quick&gs_lcrp=EgZjaHJvbWUqDwgAECMYJxjjAhiABBiKBTIPCAAQIxgnGOMCGIAEGIoFMhIIARAuGCcYrwEYxwEYgAQYigUyBggCEEUYOTIGCAMQRRhAMgYIBBBFGDsyBggFEEUYOzIGCAYQRRg9MgYIBxBFGDzSAQgzODQ4ajBqN6gCALACAA&sourceid=chrome&ie=UTF-8#lrd=0x47d8a5282abbe24f:0x6b0e204a0e776e41,3,,,,"
       class="u-btn u-btn-round u-button-style u-palette-3-base u-radius u-btn-1">Add Review</a>
    <a href="https://www.google.com/search?q=quick+stop+autos&rlz=1C5MACD_enGB1039GB1039&oq=quick&gs_lcrp=EgZjaHJvbWUqDwgAECMYJxjjAhiABBiKBTIPCAAQIxgnGOMCGIAEGIoFMhIIARAuGCcYrwEYxwEYgAQYigUyBggCEEUYOTIGCAMQRRhAMgYIBBBFGDsyBggFEEUYOzIGCAYQRRg9MgYIBxBFGDzSAQgzODQ4ajBqN6gCALACAA&sourceid=chrome&ie=UTF-8#lrd=0x47d8a5282abbe24f:0x6b0e204a0e776e41,1,,,,"
       class="u-btn u-btn-round u-button-style u-palette-3-base u-radius u-btn-2">See More</a>
  </section>