@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
body{
	line-height: 1.5;
	font-family: 'Poppins', sans-serif;
}
*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}
.container{
	max-width: 1420px;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
	background-color: #72d3fe;
    padding: 30px 0;
    bottom: 0;
    min-width: 100%;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #36454F;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #72d3fe;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #36454F;
	text-decoration: none;
	font-weight: 300;
	color: #36454F;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #000000;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: #36454F;
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #72d3fe;
	background-color: #36454F;
}
.outer_col{
    min-width: 13%;
}
.middle_col{
    min-width: 50%;
}
.map_size{
    width: 500px;
    height: 150;
}
.containerSC{
	text-align: center;
	position: absolute;
	right: 0px;
}
.btnSC{
	display: inline-block;
	width: 90px;
	height: 90px;
	background: #f1f1f1;
	margin: 10px;
	border-radius: 50%;
	box-shadow: 0 5px 15px -5px #535c68;
	overflow: hidden;
	position: relative;
  }
  .btnfc{
	color: #0056a6 !important;
  }
  .btntik{
	color: #ff0050 !important;
  }
  .btmins{
	color: #E1306C !important;
  }

  .btmins::before{
	background: linear-gradient(90deg, rgba(64,93,230,1) 0%, rgba(131,58,180,1) 35%, rgba(225,48,108,1) 100%) !important;
  }
  .btntik::before{
	background: linear-gradient(90deg, rgba(255,0,80,1) 0%, rgba(0,242,234,1) 100%) !important;
  }
  .btnfc::before{
	background: linear-gradient(90deg, rgba(66,103,178,1) 0%, rgba(140,178,254,1) 100%) !important;
  }
  .btnSC i {
	font-size: 39px;
	line-height: 2.2;
	transition: 0.2s linear;
  }
  .btnSC:hover i{
	transform: scale(1.3);
	color: #f1f1f1;
  }
  .btnSC::before{
	content: "";
	position: absolute;
	width: 120%;
	height: 120%;
	background: #4834d4;
	transform: rotate(45deg);
	left: -110%;
	top: 90%;
  
  }

  .middle{
	text-align: center;
	position: absolute;
	right: 47%;
  }

  .btnSC:hover::before {
	animation: pounce 0.7s 1;
	top: -10%;
	left: -10%;
  }
  
  @keyframes pounce {
	0%{
	  left: -110%;
	  top: 90%;
	}50%{
	  left: 10%;
	  top: -30%;
	}100%{
	  top: -10%;
	  left: -10%;
	}
  }
/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
.u-footer{
	height: 41vh;
}
.middle{
	margin-top: 79px;
	right: 33%;
}
.containerSC{
	margin-top: 202px;
	margin-right: 38px;
}
.u-logo-image{
	margin-left: 104px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}

@media(max-width: 375px){
	.containerSC{
		margin-right: 20px;
	}
	.u-footer{
		height: 50vh;
	}
}

@media(max-width: 360px){
	.u-logo-image{
		margin-left: 70px;
	}
}

@media(max-width: 1007px) {
  .map_size{
    width: 250px;
  }
}

@media(max-height: 1380px){
	.u-section-1{
		height: 88vh;
	}
}

/* @media(max-width: 540px){
	.u-footer{
		height: 47vh;
	}
	.containerSC{
		margin-right: 100px;
	}
	.middle{
		right: 37%
	}
	.u-logo-image{
		margin-left: 170px;
	}
} */